<%- include("../partials/head") %>
    <body>
        <h3 class="subtitulos">Nuestros productos</h3>
            <div class="lista">
                <% productos.forEach(e => { %> 
                <article>
                    <div class="card">
                        <div class="product_title">
                            <%= e.name %>
                        </div>
                        <a href="/products/<%= e.id %>">
                            <div class="imagenes_home">
                                <img class="img" src= <%= e.image %> >
                            </div>
                        </a>
                        <div >
                            <p class="description_producto"><%= e.description %></p>
                            <p class="precio_producto"><%= e.price %></p>
                        </div>
                    </div>
                </article>
            <% }) %>
            </div>
    </body>
</html>
