<%- include("../partials/head") %>

<body>
<%- include("../partials/header") %>

<main>

    <div class="tus-compras"><span class="material-symbols-outlined">arrow_back_ios</span><span>Tus compras</span></div>
    <div class="cart">
        <% productos.forEach(e=>{ %>
            <div class="wrapper">
                <div class="cart-item">
                    <form action="">
                        <div class="cart-product">
                            <img class="cart-image" src="<%= e.imagen %>" alt="<%= e.nombre %>">
                            <div class="cart-product-info">
                                <p class="productname"><%= e.nombre %></p>
                                <p class="productprice"><%= e.precio %></p>
                            </div>
                        </div>
                        <div class="cart-quantity">
                            <div><span class="material-symbols-outlined cancel">cancel</span></div>
                            <div class="cart-quantity-controls">
                                <button>-</button>
                                <input type="number" value="1" readonly />
                                <button>+</button>
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        <%}) %>
        aca termina ejs
        <div class="wrapper">
            <div class="cart-item">
                <form action="">
                    <div class="cart-product">
                        <div class="cart-image" style="background-image:url(images/Untitled-2.png)"></div>
                        <div class="cart-product-info">
                            <p class="productname">Café Brasil</p>
                            <p class="productprice">$550</p>
                        </div>
                    </div>
                    <div class="cart-quantity">
                        <div><span class="material-symbols-outlined cancel">cancel</span></div>
                        <div class="cart-quantity-controls">
                            <button>-</button>
                            <input type="number" value="2" readonly />
                            <button>+</button>
                        </div>
                    </div>
                    <div class="cart-unit-price"></div>
                    <div class="cart-product-total"></div>

                </form>
            </div>
        </div>
        <div class="wrapper">
            <div class="cart-item">
                <form action="">
                    <div class="cart-product">
                        <div class="cart-image" style="background-image:url(images/Untitled-2.png)"></div>
                        <div class="cart-product-info">
                            <p class="productname">Café Nicaragua</p>
                            <p class="productprice">$700</p>
                        </div>
                    </div>
                    <div class="cart-quantity">
                        <div><span class="material-symbols-outlined cancel">cancel</span></div>
                        <div class="cart-quantity-controls">
                            <button>-</button>
                            <input type="number" value="1" readonly />
                            <button>+</button>
                        </div>
                    </div>
                    <div class="cart-unit-price"></div>
                    <div class="cart-product-total"></div>

                </form>
            </div>
        </div>
    </div>

    <div class="cart-total"><span>Total</span><span><%= productos.reduce((acc.precio, p.precio) => acc+p) %></span></div>
    <div class="pagar"><input type="submit" value="Ir a pagar"></div>



</main>
<%- include("../partials/footer") %>
</body>
</html>
