<%- include("../partials/head") %>

<body>
<%- include("../partials/header") %>

<main>

    <div class="tus-compras"><span class="material-symbols-outlined">arrow_back_ios</span><span>Tus compras</span></div>
    <div class="cart">
        <% seleccionados.forEach(e => { %>
            <div class="wrapper">
                <div class="cart-item">
                    <div class="cart-product">
                        <div class="cart-image">
                            <img class="cart-image" src="<%= e.imagen %>" alt="<%= seleccionados.imagen %>">
                        </div>
                        <div class="cart-product-info">
                            <p class="productname"><%= e.nombre %></p>
                            <p class="productprice">$<%= e.precio %></p>
                        </div>
                    </div>
                    <div class="cart-quantity">
                        <div><span class="material-symbols-outlined cancel">cancel</span></div>
                        <div class="cart-quantity-controls">
                            <button>-</button>
                            <input type="number" value="<%= e.cantidad %>" readonly />
                            <button>+</button>
                        </div>
                    </div>
                    <div class="cart-unit-price"></div>
                    <div class="cart-product-total"></div>
                </div>
            </div>
        <% }) %>
    </div>    


    <div class="cart-total"><span>Total</span><span>$<%= total %></span></div>
    <div class="pagar"><input type="submit" value="Ir a pagar"></div>

</main>
<%- include("../partials/footer") %>
</body>
</html>
