<%- include("../partials/head") %>
<body>
<%- include("../partials/header") %>
    <main>
        <section class="login_full">
            <div class="center">
                <div class="center">
                <form class="formulario_producto" method = "post" action = "/products" enctype = "multipart/form-data">
                    <h2>Crear producto</h2>
   
                    <div class="txt_field">
                        <input id="nombre_producto" name="name" type="text" value="<%= locals.old && old.name ? old.name : '' %>" >
                        <div class="dinamic-product-feedback"></div>
                        <!-- Se puede agregar una clase mas a este input si viene un error en este campo (que se recuadre en rojo) -->
                        <span></span>
                        <label>Nombre</label>
                        <% if (locals.errors && errors.name) { %>
                            <div ><%= errors.name.msg %> </div>
                        <% } %>
                    </div>
                    <div class="txt_field">
                        <input id="categoria_producto" name="category" type="text" value="<%= locals.old && old.category ? old.category : '' %>">
                        <div class="dinamic-category-feedback"></div>
                        <span></span>
                        <label>Clase</label>
                        <% if (locals.errors && errors.category) { %>
                            <div ><%= errors.category.msg %> </div>
                        <% } %>
                    </div>
                    <div class="txt_field">
                        <textarea id="descripcion_producto" name="description" type="text" value="<%= locals.old && old.description ? old.description : '' %>">
                        <div class="dinamic-description-feedback"></div>
                        <span></span>
                        <label>Descripción</label>
                        <% if (locals.errors && errors.description) { %>
                            <div ><%= errors.description.msg %> </div>
                        <% } %>
                    </div>
                    <div class=<%= locals.errors && errors.price ? "txt_field clase-error-formulario" : "txt_field" %>>
                        <input id="precio_producto" name="price" type="text" value="<%= locals.old && old.price ? old.price : '' %>">
                        <div class="dinamic-price-feedback"></div>
                        <span></span>
                        <label>Precio</label>
                        <% if (locals.errors && errors.price) { %>
                            <div ><%= errors.price.msg %> </div>
                        <% } %>
                    </div>
                   <div class="upload">
                        <input type="file" id="file" name ="imagenProducto">
                        <label for="file"> Cargar imagen</label>
                    </div>
                    <input type="submit" value="Crear producto">            
                </form>
            </div>
        </section>
    </main>
</body>
</html>
