<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
    <main class="main-edit">
        <div class="lista">
            <article class="edit-product">
                <div class="card-product-edit">
                    <div class="product_title_edit">
                        <%= producto.nombre %>
                    </div>
                    <div >
                        <p class="precio_producto_edit"><%= producto.precio %></p>
                    </div>
                    <a href="/products">
                        <div class="imagen_edit">
                            <img class="img" src= <%= '/'+ producto.imagen %> >
                        </div>
                    </a>
                    <div class="botones-edit">
                    <a href="/products/<% producto.id %>/edit"><button><span class="material-symbols-outlined iconos_edit">edit</span></button></a>
                    <a href="/edit/<% producto.id %>"><button><span class="material-symbols-outlined iconos_edit">delete</span></button></a>
                    </div>
                </div>
            </article>
        </div>
    </main>
</body>
</html>

