<%- include("../partials/head") %>
    <body>
        <%- include("../partials/header") %>
        <section class="edit-main-page">
            <div class="edit_page">
                    <form class="formulario" method="POST" action="/products/<%= producto.id %>?_method=PUT" enctype = "multipart/form-data">
                        <div class="txt_field">
                            <input type="text" value="<%= producto.nombre %>" name="name" required>
                            <label>Nombre de Producto</label>
                        </div>
                        <div class="txt_field">
                            <input type="text" value="<%= producto.precio %>" name="price" required>
                            <label>Precio</label>
                        </div>
                        <div class="txt_field_comment">
                            <textarea class="box_comment" name="description"><%= producto.descripcion %></textarea>
                        </div>
                        <div class="upload_edit">
                            <input type="file" id="file" accept="image/*" name="imagen-producto">
                            <label for="file"> Cargar imagen</label>
                        </div>
                        <div class="botones-edit">
                            <input type="submit" value="confirmar edición">
                        </div>
                    </form>
                    <form class="formulario" method="POST" enctype="multipart/form-data" action="/products/<%= producto.id %>?_method=DELETE">
                        <div class="botones-edit">
                            <input type="submit" value="Eliminar Producto">
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <br>
    </body>
</html>

