<%- include("./partials/head") %>
    <body>
        <%-include("./partials/header")%>
        <div class="opciones">
        <p><a href="#">CAFES</a></p><p><a href="#">MAQUINAS</a></p><p><a href="#">ACCESORIOS</a></p><p><a href="#">MAPA DE LOCALES</a></p><p><a href="#">JAVA CLUB</a></p>
        </div>
        <div class="main-image">
            <div class="container">
                <h1>
                    <p>Del grano al café.</p>
                    <span>Todo en uno.</span>
                </h1>
                <h4 class="cen">Descubrí nuestra linea de cafeteras totalmente automáticas</h4>
                <p class="material-symbols-outlined arrow"> arrow_forward_ios</p>
            </div>
        </div>
        <h3 class="subtitulos">Más vendidos</h3>

            <div class="lista">
                <% productos.forEach(e => { %> 
                <article>
                    <div class="card">
                        <div class="product_title">
                            <%= e.nombre %>
                        </div>
                        <a href="/products/<%= e.id %>">
                            <div>
                                <img class="img" src= <%= e.imagen %> >
                            </div>
                        </a>
                        <div >
                            <p class="description_producto"><%= e.descripcion %></p>
                            <p class="precio_producto"><%= e.precio %></p>
                        </div>
                    </div>
                </article>
            <% }) %>
            </div>
        <section class="main">  
            <img class="club" src="images/cafe2.png">
            <div class="cuerpo">
            <h1 class="pop">Unite al club</h1>
            <p class="sub">Descubrí los beneficios del Java Club. Hacé pedidos, suma puntos, obtené acceso a eventos y conectate con otros miembros</p>
            <p class="material-symbols-outlined arrow2"> arrow_forward_ios</p>
            </div>    
        </section>

        <%-include("./partials/footer")%>

    </body>
</html>
