<%- include("../partials/head") %>

<body>
<%-include("../partials/header")%>
    <main>
        <section class="login_full">           
            <div>
                <h2 class="registrate">Registrate</h2>  
                <div class="center">
                    <form class="formulario_usuarios" method="POST" action = "/users/register" enctype="multipart/form-data">
                        <div class="errores">
                            <ul></ul>
                        </div>
                        <div class="txt_field">
                            <input type="text" id="input-nombre" name="name nombre1" value="<%= locals.old && old.name ? old.name : '' %>">
                            <span></span>
                            <label>Usuario</label>
                            <% if (locals.errors && errors.name) { %>
                                <div class="error" ><%= errors.name.msg %> </div>
                            <% } %>
                        </div>
                        <div class="txt_field">
                            <input type="email" id="input-mail" name="email" value="<%= locals.old && old.email ? old.email : '' %>">
                            <span></span>
                            <label>Email</label>
                            <% if (locals.errors && errors.email) { %>
                                <div ><%= errors.email.msg %> </div>
                            <% } %>
                        </div>
                        <div class="txt_field">
                            <input type="password" name="password">
                            <span></span>
                            <label>Contraseña</label>
                            <% if (locals.errors && errors.password) { %>
                                <div ><%= errors.password.msg %> </div>
                            <% } %>
                        </div>
                        <div class="txt_field">
                            <input type="password" name ="passwordConfirmation" >
                            <span></span>
                            <label>Repetir contrasña</label>
                        </div>
                        <div class="upload">
                          <input type="file" id="file" name ="imagenUsuario">
                          <label for="file"> Cargar imagen</label>
                        </div>
                        <input type="submit" value="Registrarme">
                        <div class="link_de_inicio">
                        Ya sos miembro? <a href="/users/login">Inicia sesión</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
<script src="../js/script.js">
</script>
</body>
</html>
